{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8060009-103-hero.jpg" cegTitle="Best Winter Hats for Men"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Best Winter Hats for Men</h1>
            <p>Winter&rsquo;s coming, which means it&rsquo;s time to get your head in the game. We&rsquo;ve rounded up the best winter hats for men that are available at Macy&rsquo;s. They&rsquo;re the best because they help keep your head warm and are stylish, too! What more can you ask for? Keep reading to discover our favorite styles you should add to your cold-weather accessories collection.<br><br>
            <a rel="nofollow" class="ceg-hero-button" href="{{ENV_HOSTNAME}}/shop/featured/mens-winter-hats">Shop Men&rsquo;s Winter Hats</a></p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>Style Tips for Picking a Winter Hat</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-103-02.jpg" alt="">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><strong>Pick a color palette.</strong> Decide whether you love neutrals, can&rsquo;t get enough of bright colors or need a little bit of both in your life—that&rsquo;s a great starting point.</li>
                <li><strong>Know the warmest materials.</strong> Winter hats are available in a variety of materials, but they&rsquo;re not all created equal when it comes to staying warm during low temperatures. Look for wool, wool blends, faux (and real) fur linings and touches of leather.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What are the best winter hats for men?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-103-03.jpg" alt="">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>1. BEANIES</h5>
            <p class="ceg-b32">
                We&rsquo;re spilling the beans: beanies are simple, classic and functional&ndash;you heard it here first. These knitted, brimless hats are perfect for winter, and Macy&rsquo;s offers a variety of beanies to combat chilly days plus picks perfect for elevating your entire look. Expect to see awesome picks from top brands including Polo Ralph Lauren, Calvin Klein, Tommy Hilfiger and Alfani (Created for Macy&rsquo;s).
                <br><br>
                <strong>How to style a beanie?</strong> Beanies are easy to style with almost any outfit because they&rsquo;re simple and effortless. Warmth is the goal, as it should be during winter, so pull on the beanie and fold up any extra fabric to create a second layer of coverage over your ears. Bonus? The beanie is a cold-weather staple that doubles as an everyday accessory you can wear throughout the year. 
                <br><br>
                <strong>What are different styles of beanies?</strong> Beanies come in a variety of styles including:
            </p>
            <ul class="bullet-list">
                <li><strong>Slouchy Beanie.</strong> A loose-fitting beanie that emits laidback vibes. Its relaxed nature make it perfect to top off any outfit.</li>
                <li><strong>Tight-Fitting Beanie.</strong> Sleek and fresh, the tight-fitting beanie goes well with dressy outfits. It will keep you warm and add streamlined coziness without the extra bulk.</li>
                <li><strong>Pom-Pom Beanie.</strong> Extra casual, pom-pom beanies are a fantastic option if you&rsquo;re in a playful mood. They give you the appearance of not trying too hard, which is a great goal of getting dressed everyday.</li>
                <li><strong>Athletic Beanie.</strong> Exercising outdoors during winter requires the right clothing and accessories. An athletic beanie with moisture-wicking properties will help keep sweat at bay and keep your head warm while running or training.</li>
            </ul>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-103-04.jpg" alt="">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>2. TROOPER HAT</h5>
            <p class="ceg-b32">
                Looking for a hat to keep your head and ears warm simultaneously? Then you&rsquo;re headed in the right direction with a trooper hat. What is a trooper hat? A trooper hat, also known as a trapper hat, features earflaps and a front brim typically lined in faux fur or real fur.
                <br><br>
                <strong>What&rsquo;s a top brand at Macy&rsquo;s for trooper hats?</strong> Woolrich offers a wonderful selection of trooper hats ideal for winter wear. Explore their collection of the latest styles.
                <br><br>
                <strong>How to style a trooper hat?</strong> Wear a trooper hat with the earflaps down. It&rsquo;s both stylish and functional. A trooper hat adds a rugged feel to any outfit. You can use it to dress down a suit and tie ensemble, or throw it on with a casual sweater and jeans.
            </p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-103-05.jpg" alt="">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <h5>3. EAR WARMERS</h5>
            <p class="ceg-b32">
                Exposed skin in the winter? We wouldn&rsquo;t recommend it. Your ears shouldn&rsquo;t be overlooked when building your cold-weather arsenal. What are ear warmers? Ear warmers are essentially an over-the-head design with a band and two insulated pieces of fabric to help keep your ears protected from harsh winds and the cold. 
                <br><br>
                <strong>How to style ear warmers?</strong> Ear warmers can be worn alone or over you favorite tight-fitting hat. Go with a winter hat and ear warmers in a similar color for a seamless look. Or, take the opportunity to add a pop of color to your wardrobe using ear warmers&ndash;the choice is yours. 180s has plenty of fresh choices. 
                <br><br>
                <strong>What are the different types of ear warmers?</strong> Ear warmers are available in several different types including:
            </p>
            <ul class="bullet-list">
                <li><strong>Headband.</strong> Exactly as it sounds, headband ear warmers fit over your head like a headband and have plush ear covers attached to keep in the heat.</li>
                <li><strong>Behind-the-ear.</strong> The band rests at the base of the head. This versatile style is a great alternative to help keep your hair in place.</li>
                <li><strong>Foldable.</strong> Foldable earmuffs are ideal for travel. Simply fold them up and toss them in your bag or luggage when not in use.</li>
                <li><strong>Tech.</strong> Love to listen to music or podcasts during your daily commute? Us too. Skip awkward layering and go with a pair of ear warmers that double as Bluetooth-enabled headphones.</li>
            </ul>
        </div>
    </div>
</div>
	{{> might-also }}

<script src="../{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="../{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>