{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8060009-102-hero.jpg" cegTitle="Glove Size Chart"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>Glove Size Chart</h1>
            <p>Cold hands? Not on our watch! Keep those hands toasty in cold weather with the right pair of gloves. Trust us, they&rsquo;ll come in handy. Not sure what size you wear? Keep reading to discover how to measure a man&rsquo;s glove size, plus learn about the different types of gloves you should have in your cold-weather wardrobe from brands including Isotoner, Nike, Polo Ralph Lauren and Calvin Klein.<br><br>
            <a rel="nofollow" class="ceg-hero-button" href="{{ENV_HOSTNAME}}/shop/featured/mens-gloves">Shop Men&rsquo;s Gloves</a></p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-8 small-11 large-centered small-centered column">
            <img src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-how-to-measure.png" alt="How to Measure">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32"><strong>How to find a man&rsquo;s glove size?</strong> To find your glove size, measure your dominant hand (the hand you write with) using a tape measure. Here are step-by-step instructions courtesy of Isotoner:</p>
            <ul class="bullet-list">
                <li>Step 1: With your hand extended flat, wrap the measuring tape loosely around your palm at the knuckles.</li>
                <li>Step 2: With the measuring tape around your knuckles, make a fist with your hand.</li>
                <li>Step 3: Loosen or tighten your fist to match how you prefer your gloves to fit (looser for a roomier fit, tighter for a snugger fit).</li>
                <li>Step 4: Record the circumference measurement in inches. Match it to the size chart below.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>Isotoner Men&rsquo;s Sizing</h2>
        </div>
    </div>
    <table class="glovesize-table large-9 small-11 large-centered small-centered column">
        <tr>
            <th>Circumference at Knuckles <br>(inches)</th>
            <th>Traditional Sizing</th> 
            <th>Combined Sizing</th>
        </tr>
        <tr>
            <td>8.0 - 9.0&rdquo;</td>
            <td>MD</td> 
            <td>S/M</td>
        </tr>
        <tr>
            <td>9.5 - 10&rdquo;</td>
            <td>LG</td> 
            <td>L/XL</td>
        </tr>
        <tr>
            <td>10 - 11&rdquo;</td>
            <td>XL</td> 
            <td>L/XL</td>
        </tr>
    </table>
    <div class="row ceg-t35">
        <div class="large-3 small-8 large-centered small-centered column">
            <p class="ceg-b32"><sup>*Please note the size chart is approximate.</sup></p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-102-03.jpg" alt="">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32"><strong>How should men&rsquo;s gloves fit?</strong> Men&rsquo;s gloves should fit comfortably over your entire hand including the base of your fingers, the base of your thumb and your extended thumb.</p>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-102-04.jpg" alt="">
        </div>
    </div>   

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <p class="ceg-b32"><strong>What are the different types of men&rsquo;s gloves?</strong> Men&rsquo;s gloves come in a variety of different types including:</p>
            <ul class="bullet-list">
	            <li><p><strong>LEATHER GLOVES</strong><br>There are gloves and then there are leather gloves; warmth has never been so sophisticated. Go for leather pairs with slight stretch for a comfortable fit. Macy&rsquo;s offers genuine leather and faux leather options as well. A durable pair is the perfect choice to match an outfit you&rsquo;d wear to work or to a special event.</p></li>
				<li><p><strong>KNIT GLOVES</strong><br>Turn up the cozy to the max with a pair of knit gloves. Knit gloves are typically made of ultra-soft and warm materials so they feel great on the hands. If you&rsquo;re looking for a flexible fit that doesn&rsquo;t feel restrictive, then you&rsquo;re looking in the right place.</p></li>
				<li><p><strong>WOOL &amp; WOOL BLEND GLOVES</strong><br>Wool and wool blends are insulated which help retain your body heat. If you&rsquo;re looking for something classic, then a pair of wool or wool blend gloves will fit the bill.</p></li>
                <li><p><strong>TECH GLOVES</strong><br>Stay connected with a pair of tech gloves. Compatible with the latest touchscreen cell phones, tech gloves are a great addition to your daily commute during the colder months. Check your email, answer a call or send a text message without ever having to remove your gloves. Fingerless gloves are another way to access your phone while on the go without sacrificing warmth.</p></li>
                <li><p><strong>ACTIVE GLOVES</strong><br>Take training up a notch with a pair of active gloves. Lightweight and flexible, active gloves help strengthen your grip while lifting weights at the gym. Embrace the extra padding to help protect your hands. Utilize active gloves with adjustable closures for a secure fit.</p></li>
            </ul>
        </div>
    </div>
</div>
	{{> might-also }}

<script src="../{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="../{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>