{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

	{{> header cegHero="Q8060009-109-hero.jpg" cegTitle="What to Wear Skiing & Snowboarding"}}
<div class="ceg-content">

	<div class="row ceg-hero-text">
        <div class="large-10 small-10 large-centered small-centered column">
            <h1>What to Wear Skiing &amp; Snowboarding</h1>
            <p>Looking for new gear to hit the slopes this ski/snowboarding season? Conquer the cold in the latest lineups from The North Face, Marmot and Columbia. From water-resistant jackets to gloves, Macy&rsquo;s has everything you need to slay the slopes.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What are the best brands for skiing and snowboarding gear?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-109-02.jpg" alt="What are the best brands for skiing and snowboarding gear?">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><p><strong>THE NORTH FACE</strong><br>Named after the coldest part of a mountain, The North Face has been providing extreme sports enthusiasts and explorers with performance outerwear and accessories for over 50 years. Whether you&rsquo;re into skiing, snowboarding or hiking, The North Face has the perfect jackets, fleeces, pants, hats and gloves for your adventures. Featuring cutting-edge PrimaLoft<sup>&reg;</sup> ThermoBall<sup>&trade;</sup> insulation and breathable technologies, The North Face&rsquo;s outerwear collection is a winner to keep you warm and dry during all your winter activities. Find the latest gear from The North Face at Macy&rsquo;s!</p></li>
                <li><p><strong>MARMOT</strong><br>Marmot revolutionized performance outerwear&ndash;and it&rsquo;s now available at Macy&rsquo;s! Back in the 1970s, it was one of the first companies to use GORE-TEX<sup>&reg;</sup> fabric that is waterproof, windproof and breathable. Marmot has since made advancements in waterproof jackets and gear with their Membrain<sup>&trade;</sup> technology, offering water-resistance and breathability by reducing internal condensation. Jackets designed using Angel-Wing Movement<sup>&trade;</sup> technology allow more mobility in the arms for an easier climbing experience. Supplying superior apparel to conquer Mother Nature, Marmot is a go-to brand amongst the skiing, snowboarding and mountain-climbing set.</p></li>
                <li><p><strong>COLUMBIA</strong><br>Based in Portland, Oregon, near the Columbia River, Columbia Sportswear has been outfitting adventurers for 80 years. Known for outdoor apparel designed with their Omni<sup>&trade;</sup> group of technologies, Columbia&rsquo;s clothing will keep you &ldquo;warm, dry, cool and protected.&rdquo; Their Omni-Shield<sup>&trade;</sup> feature is water and stain repellent, keeping you dry and clean in the great outdoors. Omni-Tech<sup>&trade;</sup> provides waterproof and windproof protection combined with supreme breathability. You&rsquo;ll keep warm and dry with their Omni-Heat<sup>&trade;</sup> Reflective technology, which reflects your body heat and wicks away moisture. Be happier on the trails in Columbia&rsquo;s premier collection of outdoor appeal, available at Macy&rsquo;s!</p></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-11 small-11 large-centered small-centered column">
            <h2>What to wear skiing and snowboarding?</h2>
        </div>
    </div>

    <div class="row ce-mobile-full ce-mobile-collapse">
        <div class="large-11 small-12 large-centered column">
            <img class="ceg-b32" src="//assets.macysassets.com/dyn_img/creativepages/Q8060009-109-03.jpg" alt="What to wear skiing and snowboarding?">
        </div>
    </div>

    <div class="row ceg-t35">
        <div class="large-9 small-10 large-centered small-centered column">
            <ul class="bullet-list">
                <li><p><strong>3-IN-1 JACKETS</strong><br>Make skiing and snowboarding thrice as nice! Sport a 3-in-1 jacket that can be adjusted to the changing elements of the great outdoors. The outer jacket is water-resistant, while the inner jacket provides extra warmth. Depending on the conditions, these two jackets can be worn together as one or they can be worn separately. How do you keep from getting too hot while you&rsquo;re skiing or snowboarding? To prevent overheating, ensure that your 3-in-1 jacket has the latest breathable and insulation technologies, like PrimaLoft<sup>&reg;</sup> ThermoBall<sup>&trade;</sup> or Omni-Tech<sup>&trade;</sup>. What helps to keep the cold from entering your jacket? Make sure your jacket has an adjustable hood, plenty of drawstrings and Velcro<sup>&reg;</sup> tabs to block out frigid air. Stay warm and dry on the slopes in a 3-in-1 jacket from Columbia, The North Face or Marmot.</p></li>
                <li><p><strong>SKI PANTS</strong><br>How do you keep your bottom half dry when you&rsquo;re coming down the mountain? Slip into waterproof ski pants to keep you warm and cozy in the snow. How do you keep from overheating? Check out styles with venting systems for a comfortable feel. Look for pants with plenty of zip and cargo pockets to keep your valuables safe. You wouldn&rsquo;t want to loose your wallet, keys or phone out on the slopes. Want a perfect fit? Make sure you ski pants have belt loops and adjustable waist tabs. Get set for snow season in new ski pants.</p></li>
                <li><p><strong>FLEECE</strong><br>Do you need extra warmth while you&rsquo;re out on the trails? Layer up in a cozy fleece jacket. A fleece is great for thermal insulation, however it&rsquo;s not waterproof. Some fleece jackets offer windproof protection, like The North Face&rsquo;s Windwall<sup>&reg;</sup> technology. To keep the cold out, make sure your fleece has an adjustable hood and plenty of drawstrings. Warm up to a fresh fleece this winter!</p></li>
                <li><p><strong>GLOVES</strong><br>Hands down, gloves are a clutch part of your skiing or snowboarding gear. How do you keep your hands warm in sub-zero temperatures? To keep your hands toasty, make sure your gloves have a fleece lining, thermal insulation and adjustable tab closures to keep the cold out. You&rsquo;ll want to look for styles that are made of waterproof and breathable materials, like GORE-TEX<sup>&reg;</sup>. If you need to operate your phone without taking off your gloves, check out gloves that are compatible with touchscreens. Race into Macy&rsquo;s for ski gloves and other cold-weather accessories.</p></li>
                <li><p><strong>HATS</strong><br>Has your ski/snowboarding gear reached its peak? Top off your ski lineup with a cozy hat or headband. Check out styles with fleece to keep you warmer out on slopes. Are you worried about getting overheated? Ensure your hat has the latest breathable and quick-drying technologies to keep you comfy. Want a coordinated look? Score a hat that matches your gloves. From beanies to headbands, Macy&rsquo;s has the headwear you need to take your ski style to the summit this cold-weather season!</p></li>
            </ul>
        </div>
    </div>
</div>
	{{> might-also }}

<script src="../{{version}}/js/how-to-dress-for-cold-weather.manifest.js"></script>
<script src="../{{version}}/js/how-to-dress-for-cold-weather.app.js"></script>